<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th class="col-md-1">Entity</th>
        <th class="col-md-2">Entity type</th>
        <th class="col-md-2">Entity subtype</th>
        <th class="col-md-4" colspan="4">Symbols</th>
        <th class="col-md-1">Digits</th>
        <th class="col-md-2">Remarks</th>
    </tr>

    </thead>
    <tbody>
    <tr ng-repeat-start="entity in currentSymbolSet.entities">
        <td>{{entity.label}}
            <div ng-show="settings.showDebugInfo">
                <small><strong>ID</strong> <code>{{entity.id}}</code><br>
                    <strong>Icon</strong> <code>{{entity.icon}}</code></small>
            </div></td>

        <td></td>
        <td></td>

        <td><symbsetsymb entity="entity" si="SI_UNKNOWN"></symbsetsymb></td>
        <td><symbsetsymb entity="entity" si="SI_FRIEND"></symbsetsymb></td>
        <td><symbsetsymb entity="entity" si="SI_NEUTRAL"></symbsetsymb></td>
        <td><symbsetsymb entity="entity" si="SI_HOSTILE_FAKER"></symbsetsymb></td>
        <td><b>{{entity.digits}}</b>0000</td>
        <td>{{entity.remarks}}</td>
    </tr>
    <tr ng-repeat-start="entityType in entity.entityTypes">
        <td title="{{entity.label}}">
            <div ng-show="settings.showDebugInfo">
                <small><strong>ID</strong> <code>{{entityType.id}}</code><br>
                    <strong>Icon</strong> <code>{{entityType.icon}}</code></small>
            </div>
        </td>
        <td>{{entityType.label}}</td>
        <td></td>
        <td><symbsetsymb entity="entityType" si="SI_UNKNOWN"></symbsetsymb></td>
        <td><symbsetsymb entity="entityType" si="SI_FRIEND"></symbsetsymb></td>
        <td><symbsetsymb entity="entityType" si="SI_NEUTRAL"></symbsetsymb></td>
        <td><symbsetsymb entity="entityType" si="SI_HOSTILE_FAKER"></symbsetsymb></td>
        <td>{{entity.digits}}<b>{{entityType.digits}}</b>00</td>
        <td>{{entityType.remarks}}</td>
    </tr>
    <tr ng-repeat-end ng-repeat="entitySubType in entityType.entitySubTypes">
        <td title="{{entity.label}}">
            <div ng-show="settings.showDebugInfo">
                <small><strong>ID</strong> <code>{{entitySubType.id}}</code><br>
                    <strong>Icon</strong> <code>{{entitySubType.icon}}</code></small>
            </div>
        </td>
        <td title="{{entityType.label}}"></td>
        <td>{{entitySubType.label}}</td>
        <td><symbsetsymb entity="entitySubType" si="SI_UNKNOWN"></symbsetsymb></td>
        <td><symbsetsymb entity="entitySubType" si="SI_FRIEND"></symbsetsymb></td>
        <td><symbsetsymb entity="entitySubType" si="SI_NEUTRAL"></symbsetsymb></td>
        <td><symbsetsymb entity="entitySubType" si="SI_HOSTILE_FAKER"></symbsetsymb></td>
        <td>{{entity.digits}}{{entityType.digits}}<b>{{entitySubType.digits}}</b></td>
        <td>{{entitySubType.remarks}}</td>
    </tr>
    <tr ng-repeat-end></tr>
    </tbody>
</table>

<h2 id="modifierone">Modifier one</h2>


<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th class="col-md-5">Name</th>
        <th class="col-md-3">Category</th>
        <th class="col-md-2">Symbol</th>
        <th class="col-md-2">Digits</th>
    </tr>

    </thead>
    <tbody>
    <tr ng-repeat="modone in currentSymbolSet.sectorOneModifiers | limitUseToFilter:isEnabled">
        <td title="{{modone.limitUseTo}}">{{modone.label}}
         <div ng-show="settings.showDebugInfo">
                <small><strong>ID</strong> <code>{{modone.id}}</code><br>
                <strong>LimitUseTo</strong> <code>{{modone.limitUseTo}}</code></small>
            </div></td>
        <td>{{modone.category}}</td>
        <td>
            <symbsetmod1></symbsetmod1>
        </td>
        <td>{{modone.digits}}</td>
    </tr>
    </tbody>
</table>


<h2 id="modifiertwo">Modifier two</h2>

<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th class="col-md-5">Name</th>
        <th class="col-md-3">Category</th>
        <th class="col-md-2">Symbol</th>
        <th class="col-md-2">Digits</th>
    </tr>

    </thead>
    <tbody>
    <tr ng-repeat="modtwo in currentSymbolSet.sectorTwoModifiers | limitUseToFilter:isEnabled">
        <td title="{{modtwo.limitUseTo}}">{{modtwo.label}}
        <div ng-show="settings.showDebugInfo">
                <small><strong>ID</strong> <code>{{modtwo.id}}</code><br>
                <strong>LimitUseTo</strong> <code>{{modtwo.limitUseTo}}</code></small>
            </div></td>
        <td>{{modtwo.category}}</td>
        <td>
            <symbsetmod2></symbsetmod2>
        </td>
        <td>{{modtwo.digits}}</td>
    </tr>
    </tbody>
</table>
