<div class="container-fluid">
    <div class="row">

        <div class="col-sm-12 col-md-12">
            <div class="jumbotron">
                <h1>Joint
                    military symbology explorer
                </h1>

                <p>An experimental MIL-STD-2525D/APP6X symbology explorer based on the <a href="https://github.com/Esri/joint-military-symbology-xml">Joint Military Symbology Markup Language (JMSML)</a>
project.</p>

                <div>
                    <milsymbol sic="10131000001211050000"></milsymbol>
                    <milsymbol sic="10233000001201000000"></milsymbol>
                    <milsymbol sic="10051000001211040000"></milsymbol>
                </div>
            </div>


        </div>


    </div>
</div>





