<div class="container-fluid">
    <div class="row">

        <div class="col-sm-12 col-md-12">
            <header class="jumbotron hero-spacer">
                <h1>Joint
                    military symbology explorer
                </h1>

                <p>An experimental MIL-STD-2525D/APP6X symbology explorer based on the <a href="https://github.com/Esri/joint-military-symbology-xml">Joint Military Symbology Markup Language (JMSML)</a>
project.</p>

                <div>
                    <milsymbol sic="10131000001211050000"></milsymbol>
                    <milsymbol sic="10233000001201000000"></milsymbol>
                    <milsymbol sic="10051000001211040000"></milsymbol>
                    <milsymbol sic="10031030141211040000"></milsymbol>
                    <milsymbol sic="10031500321112030000"></milsymbol>
                    <milsymbol sic="10031000161211002019"></milsymbol>
                </div>
                <p>&nbsp;</p>
            </header>

        </div>
    </div>
     <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-4 col-sm-6 hero-feature">
                <div class="thumbnail">

                    <div class="caption ">
                        <h3>Explore symbol</h3>
                        <p>Learn symbol identification codes</p>
                        <p>
                            <a ui-sref="explore" class="btn btn-primary">Explore</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Browse symbol set</h3>
                        <p>See available symbols</p>
                        <p>
                            <a ui-sref="symbolSet" class="btn btn-primary">Browse</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Frames</h3>
                        <p>See dimension and standard identity</p>
                        <p>
                            <a ui-sref="frames" class="btn btn-primary">Show frames</a>
                        </p>
                    </div>
                </div>
            </div>


        </div>
        <!-- /.row -->

        <hr>

</div>





