<div class="container-fluid">
    <div class="row">

        <div class="col-sm-12 col-md-12">
            <div class="jumbotron">
                <h1>Joint
                    Military Markup Language browser

                </h1>

                <div>
                    <milsymbol sic="10131000001211050000"></milsymbol>
                    <milsymbol sic="10231000001211050000"></milsymbol>
                    <milsymbol sic="10051000001211050000"></milsymbol>
                </div>
            </div>


        </div>


    </div>
</div>





