<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-md-2 sidebar">


        </div>
        <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Symbol search</h1>

            <div ng-controller="SearchController">
                <form class="form">
                    <input type="text"
                           class="form-control" placeholder="Search"
                           ng-model="searchString"
                           ng-model-options="{ debounce: 100 }"/>
                </form>

                <table class="table table-condensed table-bordered">
                    <tr ng-repeat="item in searchResults">
                        <td>
                            <searchsymb symbol-set="item.symbolSet" entity="item.currentEntity"
                                        si="SI_FRIEND"></searchsymb>
                        </td>
                        <td><a class="list-group-item" ui-sref="explore({sic:item.sic})"><b class="list-group-item-heading">{{item.currentEntity.label}}</b><br>{{item.symbolSet.label}}
                            / {{ item.entity.label}} / {{
                            item.entityType.label}} / {{ item.entitySubType.label }}</a>
                        </td>
                    </tr>
                </table>

            </div>
        </div>

    </div>
</div>
</div>





